@import '../../scss/1-utils/#index';

.Signup {
  border: 1.5px solid #252524;
  border-radius: 7px;

  width: 70%;
  height: 20vh;
  max-height: 400px;

  margin-left: 20%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background-color: #204963;

}

// .input-ovrd {
//   height: 400px;
//   }

.sign-up-input {

  border-radius: 7px;

  margin-top: 20%;
  margin-left: 15px;

  background-color: #c4cdd3
}

.sign-up-input:hover {
  opacity: 0.6;
}

.signup-btn {
  border-radius: 7px;
  margin-left: 15px;
  margin-top: 5.5%;

  height: 20px;
}

.signup-btn:hover {
  opacity: 0.6;
}