@import '../../scss/1-utils/#index';

.Signup {
  // border: 1.5px solid #252524;
  // border-radius: 7px;

  // width: 70%;
  // height: 20vh;
  // max-height: 400px;

  // margin-left: 20%;

  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;

  // background-color: #204963;
  border: 1.5px solid #252524;
  border-radius: 7px;

  width: 70%;
  height: 70vh;
 

  margin-left: 15%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background-color: #204963;


}

.input-ovrd {
  padding-top: 30%;
}

.sign-up-input {
  display: flex;
  width: 100%;
  padding-bottom: 4%;
  margin-top: 30%;
  border-radius: 3px;
  margin-bottom: 3%;
  border: 1px solid grey;
  font-size: .9rem;
  background-color: whitesmoke;
  border: 1px solid #7990B1;
  
  font-size: 1rem;
  margin-left: 140%;
}

.sign-up-input:hover {
  opacity: 0.6;
}

.signup-btn {
  border-radius: 3px;
  // margin-left: 15px;
  // margin-top: 58%;
  font-size: 1.3rem;
  height: 20px;
  padding-bottom: 20%;
  width: 60%;
    font-weight: bold;
    background-color: #3A648C;
    color: white;
    // margin-bottom: 100%;
  margin-right: -280%;
  margin-top: 20%;
}

.signup-btn:hover {
  opacity: 0.6;
}

h2{
  margin-right: -46%;
  padding-bottom: 20%;
  margin-top: 8%;
}