@import '../../scss/1-utils/#index';

.login {
  border: 1.5px solid red;
  border-radius: 7px;

  width: 70%;
  height: 50vh;
 

  margin-left: 15%;

  background-color: #204963;
}

.login-input:hover {
  opacity: 0.6;
}

.login-btn {
  border-radius: 3px;
  // margin-left: 15px;
  margin-top: 8%;
  font-size: 1.3rem;
  height: 20px;
  padding-bottom: 14%;
  width: 50%;
    font-weight: bold;
    background-color: #3A648C;
    color: white;
    margin-bottom: 50%;
  margin-left: -30%;
}

.login-btn:hover {
  opacity: 0.6;
}

h3{
  display: flex;
  margin-top: 10%;
  margin-left: -10%;
  margin-bottom: -35%;
}

h2{
  margin-right: -50%;
  padding-bottom: 60%;
  margin-top: 3%;
}